{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "tabWidth": 4,
  "printWidth": 80,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
